.books-panel{
    display: flex;
    flex-wrap: wrap;
    margin: 1rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @mixin books-panel__grid{
        display: grid;
        grid-template-columns: repeat(2, 140px);
        grid-template-rows: 300px 300px;
        gap: 1rem;
        .box1{
            width: 100px;
            height: 100px;
            background-color: red;
        }
    }
    .books-panel__grid-row-wise{
        @include books-panel__grid;
        grid-auto-flow: row;
    }
    .books-panel__grid-column-wise{
        @include books-panel__grid;
        grid-auto-flow: column;
    }
}

@media (min-width: 500px){
    .books-panel{
        .books-panel__grid-row-wise{
            grid-template-columns: repeat(3, 140px);
        }
        .books-panel__grid-column-wise{
            grid-template-columns: repeat(3, 140px);
        }
    }
}

@media (min-width: 650px){
    .books-panel{
        .books-panel__grid-row-wise{
            grid-template-columns: repeat(4, 140px);
        }
        .books-panel__grid-column-wise{
            grid-template-columns: repeat(4, 140px);
        }
    }
}
@media (min-width: 800px){
    .books-panel{
        .books-panel__grid-row-wise{
            grid-template-columns: repeat(5, 140px);
        }
        .books-panel__grid-column-wise{
            grid-template-columns: repeat(5, 140px);
        }
    }
}