.home{
    padding-top: 4rem;
    .all-books-title{
        display: flex;
        justify-content: center;
        text-align: center;
        width: 100%;
        font-size: 3rem;
        margin-top: 60px;
    }
}